@model IEnumerable<Complaint>
@{
    ViewBag.Title = "View All page";
}

<h3>List of Complaints</h3>
<div>
    <hr class="bg-dark" />
    <a asp-controller="Complaint" asp-action="AddComplaint">Add Complaint</a>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Date of Complaint</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Complaint" asp-action="ViewComplaint" asp-route-id="@c.Id">
                            @*DateOfComplaint*@
                            @c.DateOfComplaint.ToShortDateString()
                        </a>
                    </td>
                    <td>
                        @*Description*@
                        @c.Description
                    </td>
                </tr>
            }
           
        </tbody>
    </table>
</div>
