@{
    ViewData["Title"] = "Contact page";
}

<h3>Contact Details</h3>
<hr />
<div class="row">
    <div class="col-md-6">
        <p>
            Head of Department: Gabriel Messie <br />
            (051) 401 4158 <br />
            Email messieg@ufs.ac.za
        </p>
        <p>
            Office Administrator: Jean Dean<br />
            Tel: (051) 002 3652 <br />
            Email: deanm@ufs.ac.za
        </p>
        <p>
            Please note that we are available from Monday to Friday 08:00
            to 16:30. You are welcome to contact us using the above
            contact details. We will appreciate your call.
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/images/contact.jpg" class="img-fluid"/>
    </div>
</div>