@{
    ViewData["Title"] = "Home page";
}

    <div class="rounded-4 shadow text-center p-4 mx-1 my-3 ">
        <h1 class="display-4">Complaint Management System</h1>
        <p>Where complaints are heard!!!</p>
    </div>
    <h1>About</h1>
    <p>
        The Complaint Management System provides both staff and students with the opportunity to articulate their concerns
        pertaining to construction management, space management, maintenance, and the cleaning of buildings, as well as infrastructure
        and grounds services.
    </p>
    <p>
        For complainants, an effective complaint management system can: provide solutions. address problems before they escalate. increase satisfaction,
        enhance trust and improve interactions with the organisation..
    </p>
    <h5>The following are some of the services users can report about:</h5>
    <ul>
        <li>Water</li>
        <li>Electricity</li>
        <li>Roads</li>
        <li>Building</li>
        <li>Cleaning</li>
    </ul>
</div>
